[submodule "3rdparty/lzfse"]
	path = 3rdparty/lzfse
	url = https://github.com/lzfse/lzfse.git
[submodule "3rdparty/bzip2"]
	path = 3rdparty/bzip2
	url = https://gitlab.com/bzip2/bzip2
[submodule "3rdparty/zlib-ng"]
	path = 3rdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "3rdparty/visit"]
	path = 3rdparty/visit
	url = https://github.com/jevinskie/visit
[submodule "3rdparty/expected"]
	path = 3rdparty/expected
	url = https://github.com/TartanLlama/expected
